*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 1080px;
}
body{
    height: 100%;
    background: linear-gradient(to bottom, #9A8C98, #4A4E69);
}
/*banner*/
header{
    font-size: 25px;
    left: 50%;
    transform: translateX(15%);
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 75%;
    background-color: #F2E9E4; /* Adjust the background color as needed */
    padding: 10px 0; /* Add padding to make it more visible */
    z-index: 1000; /* Adjust the z-index as needed to ensure it appears above other content */
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.529) ;
}
.MainTitleHolder{
    text-align: center;

    
}
.letter{
    color: #9A8C98;
}

/*content*/
/*main*/
main{
    margin-top: 86px;
}
.main-topic{
    min-height:385px;
    border-radius: 15px;
    width: 75%;
    margin-top: 85px;
    background-color: #F2E9E4;
    transform: translateX(15%);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.529) ;
}
a{

    color: black;
    text-decoration:none;
}
.main-topic-heading{
    padding: 10px;
}
.main-topic-text{
    font-size: 25px;
    padding: 0 10px 10px 10px;
}

.main-topic-img{
    float: left;
    border-radius: 25px 25px 25px 25px;
    padding: 0 10px 10px 10px;
    width: 90%;
    max-width: 490px;
    
    
}
/*further*/
.further-topic-one{
    min-height:255px;
    border-radius: 15px;
    width: 75%;
    margin-top: 10px;
    background-color: #F2E9E4;
    transform: translateX(15%);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.529) ;
}
.further-topic-two{
    min-height:270px;
    border-radius: 15px;
    width: 75%;
    margin-top: 10px;
    background-color: #F2E9E4;
    transform: translateX(15%);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.529) ;
}
.further-topic-heading{
    padding: 10px;
}
.further-topic-text{
    font-size: 25px;
    padding: 0 10px 10px 10px;
}
.further-topic-img{
    float: left;
    border-radius: 25px 25px 25px 25px;
    padding: 0 10px 10px 10px;
    width: 90%;
    max-width: 300px;
}